/**
    Title: theme.css
    Author: William John Austin
    Date: 03/17/2023
    Description: Theme Styling for Web 330 Site
*/

*{
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
body.light-theme {
    --text-color: #000;
    --background-color:#fff;
    --anchor-color:#4f3674;
    --h1-background-color: #3c275a;
    --h1-border-color:#D6A800;
    --heading-background-color:#3c275a;
    --heading-color:#fff;
    --heading-border-color:#D6A800;
    --anchor-hover-color: #4f3674; 
    --anchor-hover-background-color: #d6a800; 
    --card-background-color: #fff; 
    --card-title-color: #4f3674;
    --btn-background-color: #4f3674;
    --btn-color: #fff; 
    --btn-hover-background-color: #d6a800; 
    --btn-hover-color: #4f3674; 
    --input-border-color: #ccc; 
}

body.dark-theme {
    --text-color: #fafafa; 
    --background-color: #303030;
    --anchor-color: #fff; 
    --h1-background-color: #9c27b0; 
    --h1-border-color: #9c27b0; 
    --heading-background-color: #424242; 
    --heading-color: #fff; 
    --heading-border-color: #424242; 
    --anchor-hover-color: #d176e1; 
    --anchor-hover-background-color: #303030; 
    --card-background-color: #424242; 
    --card-title-color: #d176e1; 
    --btn-background-color: #d176e1; 
    --btn-color: #fff; 
    --btn-hover-background-color: #7d4787; 
    --btn-hover-color: #fff; 
    --input-border-color: #303030; 
}
body {
    
    color: var(--text-color);
    background-color: var(--background-color);
}
a{
    color: var(--anchor-color);
    text-decoration: none;
}
a:hover{
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}
.return-home{
    color: var(--anchor-color);
    text-decoration: none;
    width: 600px;
    margin-left: 29%;

}
.return-home:hover{
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-color);
}
.return-home:visited {
    color:var(--anchor-color);
}
h1{
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border: 1px solid var(--h1-border-color);
}
h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border: 1px solid var(--heading-border-color);
}
#card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:600px;
    margin: auto;
    background-color: var(--card-background-color);
}
#card-title{
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color);
    font-weight: 400;
    margin-top: 15px;
}
#card-contents{
    padding: 2px 16px;
}
#card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#btn{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    background-color: #4f3674;
    color: white;
    width: 100%;
}
.btn-primary {
    background-color: var(--btn-background-color);
    color: var(--btn-color);
}
.btn-primary:hover {
    background-color: #D6A800;
    color: #4F3674;
}
.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}
.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    box-sizing: border-box;
}