/**
    Title: Austin-palindrome.css
    Author: William John Austin
    Date: 03/22/2023
    Description: Styling for Austin-Palindrome App
*/
#btnCheckPhrase{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 32px;
    background-color: #4f3674;
    color: white;
    width: 100%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
#btnCheckPhrase:hover{
    background-color: #D6A800;
    color: #4F3674;
}
#assign-results-header{
    margin-left: 10px;
}
#assign-results{
    margin-bottom: 10px;
}
#input-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:600px;
    margin-bottom: 10px;
}
