/**
    Title: Austin-restaurant.css
    Author: William John Austin
    Date: 03/28/2023
    Description: Styling for Restaurant App 
*/
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 275px;;
    margin: auto;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    background-color: var(--card-background-color);
}
.card-title{
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color);
    font-weight: 400;
    margin-top: 15px;
}
.card-contents{
    padding: 2px 16px;
    padding-bottom: 10px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#input-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:600px;
    margin-bottom: 10px;
}
#btnOrder{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    background-color: #4f3674;
    color: white;
    width: 100%;
}
#btnOrder:hover {
    background-color: #D6A800;
    color: #4F3674;
}
